z/*Importing Marvel Font from Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

/*Importing Rubik Font from Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');



h1{
    font-family: 'Marvel', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    color: black;
    font-variant: normal;
}

p{
  font-family: 'Rubik', sans-serif;  
}

tr{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

body{
    background-image: url("https://www.pricerighthome.com/media/catalog/product/cache/1/image/765x937/9df78eab33525d08d6e5fb8d27136e95/m/a/mar128_marvel_comic_strip_wallpaper_black_white_p1.jpg")
}