/*Importing Marvel Font from Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

/*Importing Rubik Font from Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');



h1{
    font-family: 'Marvel', sans-serif;
    font-style: normal;
    font-size: 3em;
    font-weight: bold;
    color: black;
    font-variant: normal;
    text-shadow: 1px 1px 2px black;
}
h2{
  font-family: 'Marvel', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  color:black;
  font-variant: normal;
}

h3{
    font-family: 'Rubik', sans-seriff;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 18px;;
    color: black;
    
}
.RideHulk h2 {
  color:green;
}

.RideHulkDescription p {
  color: green;
}

.RideHulkOpeningTimes {
  color: green;
}

.RideIronMan h2 {
  color:red;
}

.RideIronMan p {
  color:red;
}

.RideIronManOpeningTimes {
  color: red;
}

.RideSpiderman h2 {
  color:red;
}

.RideSpiderman p {
  color:red;
}

.RideSpidermanOpeningTimes {
  color: red;
}







p{
  font-family: 'Rubik','Marvel', sans-serif; 
  font-weight: 400;
  font-style: normal; 
  font-size: 1em;
  color: black;
  font-variant: normal;
}

tr{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

/* Creating a body wrap for adding a background image for index page  */
.index-body-wrap {
    position: relative;
  }
  
.index-body-wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image:  url('https://www.wallpaperup.com/uploads/wallpapers/2013/08/28/139975/7d64d84d499b26ed32601b80c6c6fb66.jpg');
    /* background-repeat: round; */
    background-size: 3000px;



  }
.index-body-content {
    position: relative;
  }


/* Creating a body wrap for adding a background image for about the park page  */
.about-the-park-body-wrap {
    position: relative;
  }

.about-the-park-body-wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image:  url('https://wallpaperaccess.com/full/4065699.jpg');
    background-repeat: round;
    background-size: 400px;
  }

.about-the-park-body-content {
    position: relative;
  }


/* Creating a body wrap for adding a background image for Things to do page  */
.things-to-do-body-wrap {
    position: relative;
  }
  
.things-to-do-body-wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image:  url("https://wallpaperaccess.com/full/4065699.jpg");
    background-repeat: round;
    background-size: 400px;
    

  }
.things-to-do-body-content {
    position: relative;
  }
/* navigation bar   */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: .9;
}
/* navigation bar items  */
.nav-item-page-link {
  float: left;
  font-family: 'Marvel', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
}
/* navigation bar logo  */
.nav-item-logo {
  float: left;
  padding: 0px 0px; 
}
/* navigation bar logo  */
.nav-item-page-button {
    float: right;
    font-family: 'Marvel', sans-serif;
    font-style: normal;
    font-size: 1.2em;
    padding: 14px 16px; 
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
}

/* navigation bar page link  */
.nav-item-page-link  a {
display: block;
color: rgb(255, 255, 255);
text-align: center;
padding: 14px 16px; 
text-decoration: none;
}
/* navigation bar page link not active*/
.nav-item-page-link a:hover:not(.active) {
background-color: #111;
}
/* navigation bar page link active*/
.active {
background-color: #04AA6D;

}

/* Footer */
footer{
	/* position: fixed; */
	bottom: 0;
 
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

.footer-distributed{
	background-color: #333;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	/* padding: 50px 50px 60px 50px; */
  padding: 15px 15px 20px 15px;
	margin-top: 70px;
  opacity: 0.9;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
	width: 20%;
  margin-right: 3%;
  margin-left: 0%;
  
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 17px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */
.footer-distributed .footer-left img{
	width: 40%;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
  
}

/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center{
	width: 20%;
  margin-right: 20%;
  margin-left: 15%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */
.footer-distributed .footer-right{
	width: 20%;
  
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 10;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* All 4D ride object uses same red  color to help user identify */
#tod-ultron-image {
  border: 2px solid rgb(240, 19, 30);
  /* box-shadow: 10px 5px 5px rgb(240, 19, 30); */
  box-shadow: 10px 10px 5px rgb(240, 19, 30);
    -moz-box-shadow: 10px 10px 5px rgb(240, 19, 30);
    -webkit-box-shadow: 10px 10px 5px rgb(240, 19, 30);
    -khtml-box-shadow: 10px 10px 5px rgb(240, 19, 30);
  
}

/* All Spider Man  object uses same blue color to help user identify */
#i-tod-spiderman-image {
  border: 2px solid #2B3784;
  /* box-shadow: 10px 5px 5px rgb(240, 19, 30); */
  box-shadow: 10px 10px 5px #2B3784;
    -moz-box-shadow: 10px 10px 5px #2B3784;
    -webkit-box-shadow: 10px 10px 5px #2B3784;
    -khtml-box-shadow: 10px 10px 5px #2B3784;
  
}
/* All hulk  object uses same hulk green color to help user identify */
#i-tod-hulk-image {
  border: 2px solid #008000;
  /* box-shadow: 10px 5px 5px rgb(240, 19, 30); */
  box-shadow: 10px 10px 5px #008000;
    -moz-box-shadow: 10px 10px 5px #008000;
    -webkit-box-shadow: 10px 10px 5px #008000;
    -khtml-box-shadow: 10px 10px 5px #008000;
  
}


/* All live shows  object uses same grey color to help user identify */
#tod-live-image {
  border: 2px solid rgb(10, 0, 0);
  /* box-shadow: 10px 5px 5px rgb(240, 19, 30); */
  box-shadow: 10px 10px 5px rgb(112, 111, 111);
      -moz-box-shadow: 10px 10px 5px rgb(112, 111, 111);
      -webkit-box-shadow: 10px 10px 5px rgb(112, 111, 111);
      -khtml-box-shadow: 10px 10px 5px rgb(112, 111, 111);
  
}

/* All safari object uses same specific safari color to help user identify */
#tod-safari-image {
  border: 2px solid rgb(10, 0, 0);
  /* box-shadow: 10px 5px 5px rgb(240, 19, 30); */
  box-shadow: 10px 10px 5px #C0A469;
      -moz-box-shadow: 10px 10px 5px #C0A469;
      -webkit-box-shadow: 10px 10px 5px #C0A469;
      -khtml-box-shadow: 10px 10px 5px #C0A469;
  
}