/*Importing Marvel Font from Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

/*Importing Rubik Font from Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');



h1{
    font-family: 'Marvel', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    color: black;
    font-variant: normal;
}
h2{
  font-family: 'Marvel', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5em;
  color:black;
  font-variant: normal;
}

h3{
    font-family: 'Rubik', sans-seriff;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 17px;;
    color: black;
}
.RideHulk h2 {
  color:green;
}

.RideHulkDescription p {
  color: green;
}

.RideHulkOpeningTimes {
  color: green;
}

.RideIronMan h2 {
  color:red;
}

.RideIronMan p {
  color:red;
}

.RideIronManOpeningTimes {
  color: red;
}

.RideSpiderman h2 {
  color:red;
}

.RideSpiderman p {
  color:red;
}

.RideSpidermanOpeningTimes {
  color: red;
}







p{
  font-family: 'Rubik','Marvel', sans-serif; 
  font-weight: 400;
  font-style: normal; 
  font-size: 1em;
  color: black;
  font-variant: normal;
}

tr{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}


.index-body-wrap {
    position: relative;
  }
  
.index-body-wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image:  url('https://www.wallpaperup.com/uploads/wallpapers/2013/08/28/139975/7d64d84d499b26ed32601b80c6c6fb66.jpg');
    /* background-repeat: round; */
    background-size: 3000px;

  }
.index-body-content {
    position: relative;
  }


.about-the-park-body-wrap {
    position: relative;
  }

.about-the-park-body-wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image:  url('https://wallpaperaccess.com/full/4065699.jpg');
    background-repeat: round;
    background-size: 400px;
  }

.about-the-park-body-content {
    position: relative;
  }');
    background-repeat: round;
    background-size: 400px;

  }
.about-the-park-body-content {
    position: relative;
  }

.things-to-do-body-wrap {
    position: relative;
  }
  
.things-to-do-body-wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image:  url("https://wallpaperaccess.com/full/4065699.jpg");
    background-repeat: round;
    background-size: 400px;

  }
.things-to-do-body-content {
    position: relative;
  }


